@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  /* --primary: #669928; */
  /* --primary-sec: #3d5c18; */
  /* --header-link-col: #476b1c; */
  /* --link-hover: #3d5c18; */
  /* --primary-sec: #b3cc94; */
  --primary: #5ec576;
  --primary-sec: #4bbb7d;
  --header-link-col: #4bbb7d;
  --link-hover: #4bbb7d;
  --light: #f5f5f5;
  --white-col: #fff;
  --light-white: #afbdbe;
  --low-dark: #656565;
  --col-dark: #333;
  --dark: #14141f;

  --scroll-bar-color: #dce5e6;
  --scroll-thumb-color: #afbdbe;

  /*** Typography ***/
  --font: 1rem;
  --font-small: 1.2rem;
  --font-mid-small: 1.5rem;
  --font-medium: 1.8rem;
  --header-font: 3.5rem;

  --font-bold: 700;
  --font-semibold: 600;
  --font-medium-weight: 500;
  --font-small-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-size: var(--font);
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  background-color: var(--light);
  color: var(--col-dark);
  font-size: var(--font);
  font-weight: var(--font-small-weight);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*** General  ***/
.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 120rem;
  padding: 0 5rem;
  margin: 0 auto;
}

.sections {
  padding: 6.4rem 8rem;
}

.header-secondary {
  color: var(--dark);
  font-size: var(--header-font);
  font-weight: var(--font-bold);
  line-height: 1;
  margin: 0.8rem 0rem;
}

/*** Grids  ***/
.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2-cols2 {
  grid-template-columns: 30% 70%;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/*** Link Text ***/
.link-text {
  color: var(--header-link-col);
  font-weight: var(--font-small-weight);
  font-family: "Manrope", sans-serif;
  letter-spacing: 5px;
}

/*** Button ***/
button:focus {
  /* outline: none; */
}

.nav-btn {
  padding: 0.6rem 1.2rem;
  margin-right: 2.5rem;
  border-radius: 5rem;
  border: 2px solid var(--primary);
  transition: color 0.3s, background-color 0.3s;
}

.nav-btn:hover {
  background-color: var(--primary);
}

.btn {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: var(--font);
  font-weight: var(--font-semibold);
  border: 1px solid;
  padding: 1.2rem 2.8rem;
  margin-top: 2rem;
  transition: 0.5s;
  cursor: pointer;
}

.btn-btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1rem 4rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-btn:hover {
  background-color: var(--color-primary-darker);
}

/*****************************************/

/*** Company Infomation and socials ***/
.top-header {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.5rem 3rem;
  justify-content: space-between;
}

.right_top_nav,
.left_top_nav {
  justify-content: center;
  gap: 1rem;
}

.left_top_nav {
  margin-top: 0.2rem;
}

.nav_number,
.nav_mail {
  justify-content: center;
  gap: 0.4rem;
}

.phone {
  transform: rotate(90deg);
}

.nav_number p,
.nav_mail a {
  text-align: center;
}

.nav_mail a {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}

.nav_number span,
.nav_mail span {
  font-size: var(--font-small);
}

.right_top_nav a {
  text-decoration: none;
  color: var(--white-col);
  padding: 0.2rem;
  font-size: var(--font);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.right_top_nav a:hover {
  color: var(--primary);
}

.right_top_nav a span {
  font-size: var(--font);
}

/*** Hero and Navigation ***/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: var(--white-col);
}

.hero-header {
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding-left: 2rem;
  border-bottom: 0.5px solid var(--light-white);
  z-index: 2;
}

/*** Logo ***/
/* check out the focus on the logo and add the cursor to it */
.logo {
  justify-content: center;
}

.logo span {
  font-size: 2.5rem;
  color: var(--primary);
}

.logo p {
  font-size: 2.2rem;
  font-weight: var(--font-bold);
  color: var(--white-col);
  margin-bottom: 0.5rem;
}

.logo p span {
  font-size: var(--font-small);
}

/*** Section Title ***/
.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 7rem;
  justify-content: space-between;
  gap: 3rem;
}

.nav-links .section-title,
.nav-links .section-title-pages {
  height: 7rem;
  justify-content: center;
}

.nav-links .section-title,
.nav-links .section-title-pages,
.nav-btn {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  position: relative;
  color: var(--white-col) !important;
  font-weight: 600;
  /* outline: none; */
  cursor: pointer;
  transition: color 0.5s;
}

.nav-links .section-title {
  position: relative;
}

.section-title,
.section-title-pages {
  font-size: 1.4rem;
}

.nav-links .section-title:hover,
.nav-links .section-title-pages:hover,
.nav-links .section-title.active,
.nav-links .section-title-pages.active {
  color: var(--primary) !important;
}

.nav-links .section-title:hover::before,
.nav-links .section-title-pages:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -1.4px;
  left: 0;
  background: var(--primary);
  transition: width 0.5s ease;
}

.nav-links .section-title::before,
.nav-links .section-title-pages::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -1.4px;
  left: 50%;
  background: var(--primary);
  transition: width 0.5s ease, left 0.5s ease;
}

/*** Submenu  ***/
.has-submenu {
  position: relative;
  gap: 1rem;
  justify-content: flex-start;
}

.has-submenu::after {
  content: url("icon/icon-arrow-down.svg");
  font-weight: 700;
  height: 25px;
}

.has-submenu:hover ul {
  display: block;
}

.has-submenu ul {
  position: absolute;
  top: 100%;
  left: -3rem;
  background-color: var(--light);
  padding: 0.5rem;
  height: 13rem;
  display: none;
}

.has-submenu ul a {
  color: var(--col-dark);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.6rem;
  min-width: 13rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: var(--font-semibold);
  outline: none;
  transition: color 0.3s, background-color 0.3s;
}

.has-submenu ul a:hover {
  background-color: #bfe8c8;
  padding: 1rem;
}

.has-submenu ul a:hover::after {
  opacity: 1;
}

.has-submenu:hover::after {
  opacity: 1;
}

.has-submenu::after {
  transition-property: opacity;
}

.has-submenu ul {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1rem);
  transition-property: opacity, visibility, transform;
}

.has-submenu:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.has-submenu ul a {
  transition-property: background-color, padding;
}

.has-submenu ul a::after {
  transition-property: opacity;
}

.has-submenu::after,
.has-submenu ul,
.has-submenu ul a,
.has-submenu ul a::after {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/** Sliding images  */
.slides {
  display: flex;
  width: 100%;
  height: 85%;

  /* check the other property name on animation "infinite" */
  animation: slide 20s alternate;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7));
  z-index: 1;
}

.slide {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

/*** Animation for sliding ***/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  85% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}

/*** Hero Content ***/
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Nunito", sans-serif;
  z-index: 2;
}

.hero-content h1 {
  font-size: var(--header-font);
}

.hero-content p {
  font-size: var(--font-medium);
}

.btn--text {
  display: inline-block;
  background-color: var(--white-col);
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: var(--font-bold);
  color: var(--col-dark);
  border: 2px solid var(--white-col);
  padding: 1rem 1.2rem;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
}

.btn--text:hover {
  color: var(--white-col);
  background-color: transparent;
}

/*** About section ***/
.inner-about-container {
  gap: 2rem;
  align-items: center;
}

.img-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  z-index: -1;
}

.img-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-content {
  width: 54rem;
  border: 1px solid var(--white-col);
  background-color: var(--white-col);
  padding: 1.8rem;
  margin-left: -8rem;
}

.about-us {
  font-size: var(--font-small);
}

.about-text-cont p {
  color: var(--col-dark);
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.about-imgs {
  gap: 2rem;
}

.about-imgs img {
  object-fit: cover;
  width: 100%;
}

.about-btn--text {
  background-color: var(--primary);
  color: var(--white-col);
  transition: background-color 0.3s, color 0.3s;
}

.about-btn--text:hover {
  background-color: var(--link-hover);
}

.about-bottom-container {
  padding-top: 3rem;
  gap: 2.5rem;
}

.inner-bot-container {
  gap: 1rem;
}

.about-bot-icon {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white-col);
  justify-content: center;
  flex-shrink: 0;
  padding: 2rem;
}

.about-htext {
  color: var(--col-dark);
  font-size: var(--font-mid-small);
  font-weight: var(--font-medium-weight);
  margin-bottom: 0.4rem;
}

.text-about p {
  color: var(--low-dark);
  font-size: var(--font);
}

/*** SERVICES ***/
.services-header-container {
  text-align: center;
  margin-bottom: 4rem;
}

.header-font {
  font-size: 2rem;
  color: var(--col-dark);
}

.services-content-container {
  gap: 2rem;
}

.service-content i {
  font-size: var(--font-small);
  color: #132718;
  background-color: #9edcad;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;
}

.service-content h5 {
  font-size: var(--font-mid-small);
  color: var(--col-dark);
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.service-content p {
  font-size: var(--font-small);
  line-height: 1.4;
}

/*** DESTINATION ***/
.destination-section {
  padding: 0rem 6rem 6.4rem 3rem;
}

/*** Gallery ***/
.gallery {
  display: grid;
  list-style-type: none;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-h,
.price {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.gallery-h {
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 120%; /* 2.625rem */
}

.price {
  font-variant-numeric: lining-nums proportional-nums;
  line-height: 120%; /* 1.875rem */
  font-size: 1.5625rem;
}

p.small {
  color: #e54949;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-container,
.gallery-container p.small {
  color: #fff;
}

.gallery-container .gallery-h + p {
  font-size: 0.8125rem;
}

.gallery-container .gallery-footer p.small {
  font-weight: 400;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery-container {
  margin: 0;
  width: 30rem;
  height: 20rem;
  position: relative;
}

.gallery-content {
  position: absolute;
  inset: 0;
  pointer-events: none;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.gallery-content .gallery-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.gallery-container p {
  margin: 0;
}

.gallery-container .gallery-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-container .gallery-footer img {
  width: auto;
}

.gallery-container .gallery-main-content,
.gallery-container .gallery-footer {
  opacity: 0;
}

.gallery-container:hover .gallery-main-content,
.gallery-container:hover .gallery-footer {
  opacity: 1;
}

.gallery-content {
  z-index: 1;
}

.gallery-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
}

.gallery-container:hover .gallery-content::before {
  opacity: 1;
}

.gallery-container a img {
  transform: scale(1.2);
  transition-property: transform;
}

.gallery-container {
  overflow: hidden;
}

.gallery-container:hover a img {
  transform: scale(1);
}

.gallery-container .gallery-main-content {
  transform: translate3d(0, -6rem, 0);
  transition-property: opacity, transform;
}

.gallery-container .gallery-footer {
  transform: translate3d(0, 6rem, 0);
  transition-property: opacity, transform;
}

.gallery-container:hover .gallery-main-content,
.gallery-container:hover .gallery-footer {
  transform: translate3d(0, 0, 0);
}

.gallery-container .gallery-footer img {
  transform: translate3d(-3rem, 0, 0) rotate(360deg);
  transition-delay: 0.3s;
  opacity: 0;
}

.gallery-container:hover .gallery-footer img {
  transform: translate3d(0, 0, 0) rotate(0);
  opacity: 1;
}

.gallery-content::before,
.gallery-container img,
.gallery-container .gallery-main-content,
.gallery-container .gallery-footer {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/*** Booking ***/
.booking-bg {
  background: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.7)),
    url(../images/booking.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 3rem 5rem;
}

.booking-inner {
  gap: 3rem;
}

.left-booking-container {
  margin-top: 7rem;
}

.left-booking-container h3,
.left-booking-container h1,
.left-booking-container p,
.righ-booking-container h1 {
  color: var(--white-col);
}

.left-booking-container h3,
.left-booking-container h1,
.righ-booking-container h1 {
  font-weight: var(--font-bold);
}

.left-booking-container h3 {
  font-size: var(--font-mid-small);
}

.left-booking-container h1 {
  font-size: 3rem;
}

.left-booking-container p {
  font-size: var(--font);
  margin-top: 1.8rem;
}

.booking-read-btn {
  background-color: transparent;
  color: var(--white-col);
  border-color: var(--white-col);
  transition: background-color 0.3s, color 0.3s;
}

.booking-read-btn:hover {
  background-color: var(--white-col);
  color: var(--dark);
}

.righ-booking-container h1 {
  font-size: var(--header-font);
}

.booking-top-input,
.booking-top-next-input {
  gap: 1.5rem;
}

.booking-top-input {
  margin-top: 2rem;
}

.booking-top-next-input {
  margin: 2rem 0rem;
}

.righ-booking-container input,
.righ-booking-container select {
  width: 50%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
  font-size: var(--font);
  color: var(--light-white);
  background: transparent;
  border: 1px solid var(--white-col);
}

.righ-booking-container input::placeholder {
  color: var(--light-white);
  font-size: 1.1rem;
}

.righ-booking-container textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  background: transparent;
  font-size: var(--font);
  color: var(--light-white);
  border: 1px solid var(--white-col);
}

/* This isn't working now */
.righ-booking-container input:focus,
.righ-booking-container select:focus,
.righ-booking-container textarea {
  outline: var(--primary);
}

.righ-booking-container button {
  width: 100%;
}

/*** Process ***/
.process-section {
  padding: 6.4rem 8rem;
}

.operations {
  max-width: 100rem;
  margin: 8rem auto 0 auto;
  background-color: #fff;
}

.operations-tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: var(--font-semibold);
  display: inline-block;
}

.operations__tab--1 {
  background-color: #ffcb03;
}

.operations__tab--1:hover {
  background-color: #ffbb00;
}

.operations__tab--2 {
  background-color: #5ec576;
}

.operations__tab--2:hover {
  background-color: #4bbb7d;
}

.operations__tab--3 {
  background-color: #ff585f;
  margin: 0;
}

.operations__tab--3:hover {
  background-color: #fd424b;
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: var(--font-medium);
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2rem;
  font-weight: var(--font-semibold);
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
}

.operations__icon i {
  font-size: 2rem;
}

.operations__content p {
  grid-column: 2;
  font-size: var(--font-mid-small);
}

.operations__icon--1 {
  background-color: #ffcd0331;
}

.operations__icon--2 {
  background-color: #5ec5763a;
}

.operations__icon--3 {
  background-color: #ff58602d;
}

.operations__icon--1 i {
  color: #ffbb00;
}
.operations__icon--2 i {
  color: #5ec576;
}

.operations__icon--3 i {
  color: #ff585f;
}

/*** Travel Guide ***/
.travel-guide-section {
  margin-bottom: 8rem;
}

.guide-container {
  gap: 2rem;
}

.guide {
  position: relative;
  box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  transition: all 0.4s;
  height: 30rem;
}

.image-container {
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

.guide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease-in-out;
}

.guide img:hover {
  transform: scale(1.1);
}

.guide-content {
  flex-direction: column;
  justify-content: center;
}

.guide-socials {
  position: absolute;
  bottom: 72px;
  gap: 0.5rem;
}

.social-con {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border-bottom: 1px solid var(--primary);
  transition: background 0.3s, color 0.3s;
}

.guide-socials a {
  text-decoration: none;
}

.guide-socials i {
  font-size: var(--font-small);
  background: #ffffff;
  color: var(--primary);
  border-radius: 50%;
  padding: 1.2rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.social-con:hover,
.guide-socials i:hover {
  background: var(--primary);
  color: var(--white-col);
}

.guide-fullname {
  margin-top: 2rem;
}

.guide-fullname {
  font-size: var(--font-small-weight);
  font-weight: var(--font-semibold);
  margin-bottom: 0.1rem;
}

.guide-title {
  font-size: 0.9rem;
}

/*** Testimonial ***/
.testimonial-section {
  margin: 8rem 2rem;
}

.slider-testimonial {
  position: relative;
  max-width: 100rem;
  gap: 2rem;
  margin: auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-testimonial {
  min-width: 100%;
  border: 1px solid var(--light-white);
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  transform: translateX(100%);
  opacity: 0.5;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-testimonial.active {
  opacity: 1;
}

/* Active Slide (center) */
.slide-testimonial.active {
  opacity: 1;
  transform: translateX(0);
}

/* Previous Slide (moves out to the left) */
.slide-testimonial.prev {
  transform: translateX(-100%);
  opacity: 0.3;
}

/* Next Slide (moves in from the right) */
.slide-testimonial.next {
  transform: translateX(100%);
  opacity: 0.3;
}

.slide-testimonial > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: var(--color-primary);
  transform: scale(1.2);
}

.testimonial {
  position: relative;
}

.testimonial__text {
  font-size: var(--font-small);
  color: var(--low-dark);
}

.testimonial__author {
  font-style: normal;
  flex-direction: column;
  justify-content: center;
}

.testimonial__photo {
  width: 6.5rem;
  border: 4px solid var(--white-col);
  border-radius: 50%;
  margin-bottom: 0.8rem;
}

.testimonial__name {
  font-size: var(--font-mid-small);
  color: var(--col-dark);
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.testimonial__location {
  font-size: 0.8rem;
  color: var(--dark);
  margin-bottom: 0.8rem;
}

/*** footer ***/
/***  ***/

/* .dropdown {
  background-color: rgba(60, 60, 60, 0.5);
  font-size: 5rem;
  color: var(--light);
  border-radius: 50%;
} */

/* Call to action botton */
/* 
.cta-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #f0a500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #d18e00;
} */

/* 
1. Typography System (font-size)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

2. Spacing System (Padding / Margin)
    2 / 4 / 8 / 12 / 32 / 48 / 64 / 80 / 96 / 128

3. Font-width
    default: 400
    medium: 500
    semi-large: 600
    large: 700

4. line-height
    default: 
    smaill: 
    medium: 

5. letter-sapcing

6. Colors
    primary: 
    Tints: 
    Shade: 
    Accents: 
    Grayes:
 */

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
