@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  --primary: #669928;
  --primary-sec: #3d5c18;
  /* --primary-sec: #b3cc94; */
  --header-link-col: #476b1c;
  --link-hover: #3d5c18;
  --light: #f5f5f5;
  --white-col: #fff;
  --light-white: #afbdbe;
  --low-dark: #656565;
  --col-dark: #333;
  --dark: #14141f;

  --first-color: #134d58;
  --first-color-second: #134d58;
  --first-color-alt: #0d353d;
  --title-color: #0f4049;
  --text-color: #4c6b71;
  --text-color-light: #969e9f;
  --input-color: #f1f9fa;
  --body-color: #f0feff;
  --scroll-bar-color: #dce5e6;
  --scroll-thumb-color: #afbdbe;

  /*** Typography ***/
  --font: 1rem;
  --font-small: 1.2rem;
  --font-mid-small: 1.5rem;
  --font-medium: 1.8rem;
  --header-font: 3.5rem;

  --font-bold: 700;
  --font-semibold: 600;
  --font-medium-weight: 500;
  --font-small-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-size: var(--font);
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  /* font-family: "Heebo", sans-serif; */
  background-color: var(--light);
  color: var(--col-dark);
  font-size: var(--font);
  font-weight: var(--font-small-weight);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*** General  ***/
.flex {
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
}

.container {
  max-width: 120rem;
  padding: 0 5rem;
  margin: 0 auto;
}

.sections {
  padding: 9.6rem 8rem;
}

.header-secondary {
  color: var(--dark);
  font-size: var(--header-font);
  font-weight: var(--font-bold);
  line-height: 1;
  margin: 0.8rem 0rem;
}

/*** Grids  ***/
.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2-cols2 {
  grid-template-columns: 30% 70%;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/*** Link Text ***/
.link-text {
  color: var(--header-link-col);
  font-weight: var(--font-small-weight);
  font-family: "Manrope", sans-serif;
  letter-spacing: 5px;
}

.services,
.pages,
.contact {
  /* font-size: var(--font); */
}

/*** Button ***/
.btn {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: var(--font);
  font-weight: var(--font-semibold);
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary);
}

/*** Company Infomation and socials ***/
.top-header {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.5rem 3rem;
  justify-content: space-between;
}

.right_top_nav,
.left_top_nav {
  justify-content: center;
  gap: 1rem;
}

.left_top_nav {
  margin-top: 0.2rem;
}

.nav_number,
.nav_mail {
  justify-content: center;
  gap: 0.4rem;
}

.phone {
  transform: rotate(90deg);
}

.nav_number p,
.nav_mail a {
  text-align: center;
}

.nav_mail a {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}

.nav_number span,
.nav_mail span {
  font-size: var(--font-small);
}

.right_top_nav a {
  text-decoration: none;
  color: var(--white-col);
  padding: 0.2rem;
  font-size: var(--font);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.right_top_nav a:hover {
  color: var(--light-white);
}

.right_top_nav a span {
  font-size: var(--font);
}

/*** Hero and Navigation ***/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: var(--white-col);
}

.hero-header {
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding-left: 2rem;
  border-bottom: 0.5px solid var(--light-white);
  z-index: 2;
}

/*** Logo ***/
/* check out the focus on the logo and add the cursor to it */
.logo {
  justify-content: center;
}

.logo span {
  font-size: 2.5rem;
  color: var(--primary);
}

.logo a {
  font-size: 2.2rem;
  font-weight: var(--font-bold);
  text-decoration: none;
  color: var(--white-col);
  margin-bottom: 0.5rem;
}

.logo a span {
  font-size: var(--font-small);
}

/*** Section Title ***/
.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 7rem;
  justify-content: space-between;
  gap: 3rem;
}

.nav-links .section-title,
.nav-links .section-title-pages {
  height: 7rem;
  justify-content: center;
}

.nav-links .section-title,
.nav-links .section-title-pages,
.nav-btn {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  position: relative;
  color: var(--white-col) !important;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: color 0.5s;
}

.nav-links .section-title {
  position: relative;
}

.section-title,
.section-title-pages {
  font-size: 1.4rem;
}

.nav-links .section-title:hover,
.nav-links .section-title-pages:hover,
.nav-links .section-title.active,
.nav-links .section-title-pages.active {
  color: var(--primary) !important;
}

.nav-btn {
  padding: 0.6rem 1.2rem;
  margin-right: 2.5rem;
  border-radius: 5rem;
  border: 2px solid var(--primary);
  transition: color 0.5s;
}

.nav-links .section-title:hover::before,
.nav-links .section-title-pages:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -1.4px;
  left: 0;
  background: var(--primary);
  transition: width 0.5s ease;
}

.nav-links .section-title::before,
.nav-links .section-title-pages::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -1.4px;
  left: 50%;
  background: var(--primary);
  transition: width 0.5s ease, left 0.5s ease;
}

/*** Submenu  ***/
.has-submenu {
  position: relative;
  gap: 1rem;
  justify-content: flex-start;
}

.has-submenu::after {
  content: url("icon/icon-arrow-down.svg");
  font-weight: 700;
  height: 25px;
}

.has-submenu:hover ul {
  display: block;
}

.has-submenu ul {
  position: absolute;
  top: 100%;
  left: -3rem;
  background-color: var(--light);
  padding: 0.5rem;
  height: 13rem;
  display: none;
}

.has-submenu ul a {
  color: var(--col-dark);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.6rem;
  min-width: 13rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: var(--font-semibold);
  outline: none;
  transition: color 0.3s, background-color 0.3s;
}

.has-submenu ul a:hover {
  background-color: var(--light-white);
  padding: 1rem;
}

.has-submenu ul a:hover::after {
  opacity: 1;
}

.has-submenu:hover::after {
  opacity: 1;
}

.has-submenu::after {
  transition-property: opacity;
}

.has-submenu ul {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1rem);
  transition-property: opacity, visibility, transform;
}

.has-submenu:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.has-submenu ul a {
  transition-property: background-color, padding;
}

.has-submenu ul a::after {
  transition-property: opacity;
}

.has-submenu::after,
.has-submenu ul,
.has-submenu ul a,
.has-submenu ul a::after {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/** Sliding images  */
.slides {
  display: flex;
  width: 100%;
  height: 85%;

  /* check the other property name on animation "infinite" */
  animation: slide 20s alternate;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7));
  z-index: 1;
}

.slide {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

/*** Animation for sliding ***/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  85% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}

/*** Hero Content ***/
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Nunito", sans-serif;
  z-index: 2;
}

.hero-content h1 {
  font-size: var(--header-font);
}

.hero-content p {
  font-size: var(--font-medium);
}

.btn--text {
  display: inline-block;
  background-color: var(--white-col);
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: var(--font-bold);
  color: var(--col-dark);
  border: 2px solid var(--white-col);
  padding: 1rem 1.2rem;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
}

.btn--text:hover {
  color: var(--white-col);
  background-color: transparent;
}

/*** About section ***/
.inner-about-container {
  gap: 2rem;
  align-items: center;
}

.img-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  z-index: -1;
}

.img-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-content {
  width: 54rem;
  border: 1px solid var(--white-col);
  background-color: var(--white-col);
  padding: 1.8rem;
  margin-left: -8rem;
}

.about-us {
  font-size: var(--font-small);
}

.about-text-cont p {
  color: var(--col-dark);
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.about-imgs {
  gap: 2rem;
}

.about-imgs img {
  object-fit: cover;
  width: 100%;
}

.about-btn--text {
  background-color: var(--primary);
  color: var(--white-col);
  border: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  transition: background-color 0.5s, color 0.5s;
}

.about-btn--text:hover {
  background-color: var(--link-hover);
}

.about-bottom-container {
  padding: 3rem 0rem;
  gap: 2.5rem;
}

.inner-bot-container {
  gap: 1rem;
}

.about-bot-icon {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white-col);
  justify-content: center;
  flex-shrink: 0;
  padding: 2rem;
}

.about-htext {
  color: var(--col-dark);
  font-size: var(--font-mid-small);
  font-weight: var(--font-medium-weight);
  margin-bottom: 0.4rem;
}

.text-about p {
  color: var(--low-dark);
  font-size: var(--font);
}

/*** SERVICES ***/
.services-header-container {
  text-align: center;
  margin-bottom: 4rem;
}

.header-font {
  font-size: 2rem;
  color: var(--col-dark);
}

.services-content-container {
  gap: 2rem;
}

.service-content i {
  font-size: var(--font-small);
  color: var(--link-hover);
  background-color: #b3cc94;
  /* background-color: var(--primary-sec); */
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;
}

.service-content h5 {
  font-size: var(--font-mid-small);
  color: var(--col-dark);
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.service-content p {
  font-size: var(--font-small);
  line-height: 1.4;
}

/*** DESTINATION ***/
.destination-section {
  padding: 0rem 5rem 9.6rem;
}

/*** Gallery ***/
.gallery {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* grid-gap: 2rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 40rem; */
  /* grid-auto-flow: dense; */

  /* margin-right: 2rem; */
}

.gallery-h,
.price {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.gallery-h {
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 120%; /* 2.625rem */
}

.price {
  font-variant-numeric: lining-nums proportional-nums;
  line-height: 120%; /* 1.875rem */
  font-size: 1.5625rem;
}

p.small {
  color: #e54949;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-container,
.gallery-container p.small {
  color: #fff;
}

.gallery-container .gallery-h + p {
  font-size: 0.8125rem;
}

.gallery-container .gallery-footer p.small {
  font-weight: 400;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery-container {
  margin: 0;
  width: 30rem;
  height: 20rem;
  position: relative;
}

.gallery-content {
  position: absolute;
  inset: 0;
  pointer-events: none;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.gallery-content .gallery-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.gallery-container p {
  margin: 0;
}

.gallery-container .gallery-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-container .gallery-footer img {
  width: auto;
}

.gallery-container .gallery-main-content,
.gallery-container .gallery-footer {
  opacity: 0;
}

.gallery-container:hover .gallery-main-content,
.gallery-container:hover .gallery-footer {
  opacity: 1;
}

.gallery-content {
  z-index: 1;
}

.gallery-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
}

.gallery-container:hover .gallery-content::before {
  opacity: 1;
}

.gallery-container a img {
  transform: scale(1.2);
  transition-property: transform;
}

.gallery-container {
  overflow: hidden;
}

.gallery-container:hover a img {
  transform: scale(1);
}

.gallery-container .gallery-main-content {
  transform: translate3d(0, -6rem, 0);
  transition-property: opacity, transform;
}

.gallery-container .gallery-footer {
  transform: translate3d(0, 6rem, 0);
  transition-property: opacity, transform;
}

.gallery-container:hover .gallery-main-content,
.gallery-container:hover .gallery-footer {
  transform: translate3d(0, 0, 0);
}

.gallery-container .gallery-footer img {
  transform: translate3d(-3rem, 0, 0) rotate(360deg);
  transition-delay: 0.3s;
  opacity: 0;
}

.gallery-container:hover .gallery-footer img {
  transform: translate3d(0, 0, 0) rotate(0);
  opacity: 1;
}

.gallery-content::before,
.gallery-container img,
.gallery-container .gallery-main-content,
.gallery-container .gallery-footer {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/*** SERVICES ***/
/*** SERVICES ***/
/*** SERVICES ***/
/*** SERVICES ***/

/* .dropdown {
  background-color: rgba(60, 60, 60, 0.5);
  font-size: 5rem;
  color: var(--light);
  border-radius: 50%;
} */

/* Call to action botton */
/* 
.cta-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #f0a500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #d18e00;
} */

/* 
1. Typography System (font-size)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

2. Spacing System (Padding / Margin)
    2 / 4 / 8 / 12 / 32 / 48 / 64 / 80 / 96 / 128

3. Font-width
    default: 400
    medium: 500
    semi-large: 600
    large: 700

4. line-height
    default: 
    smaill: 
    medium: 

5. letter-sapcing

6. Colors
    primary: 
    Tints: 
    Shade: 
    Accents: 
    Grayes:
 */

/*
.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Navbar ***/
.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: #ffffff;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: #ffffff;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: calc(100% - 2px);
    left: 1px;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
}

/*** Hero Header ***/

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Destination ***/
.destination img {
  transition: 0.5s;
}

.destination a:hover img {
  transform: scale(1.1);
}

/*** Package ***/
.package-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.package-item img {
  transition: 0.5s;
}

.package-item:hover img {
  transform: scale(1.1);
}

/*** Booking ***/
.booking {
  background: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.7)),
    url(../img/booking.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item .btn {
  background: #ffffff;
  color: var(--primary);
  border-radius: 20px;
  border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
  background: var(--primary);
  color: #ffffff;
}

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
